/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Zen+Kaku+Gothic+New:wght@300;400;700&display=swap");
/* Colors */
:root {
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;
}

/* Font Sizes */
:root {
  --body-font: Nanum Gothic, sans-serif;
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
}

/* Spacing */
:root {
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);
  --space-4xl: clamp(9.00rem, calc(8.65rem + 1.74vw), 10.00rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
  --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
  --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);
  --space-3xl-4xl: clamp(6.75rem, calc(5.62rem + 5.65vw), 10.00rem);
  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.50rem);
}

/* Other variables */
:root {
  --header-height: 3.5rem;
}

/* text */
body {
  color: var(--slate-800);
  font-family: var(--body-font);
  font-size: var(--step-0);
  background-color: var(--slate-50);
}

p {
  font-size: var(--step-0);
  line-height: 1.2em;
}

small {
  font-size: var(--step--1);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

/* layout */
.container {
  max-width: 1280px;
  margin-inline: var(--space-s-l);
}

.grid {
  display: grid;
  gap: var(--space-s);
}

.flex {
  display: flex;
  gap: var(--space-s);
  flex-direction: column;
  flex-wrap: wrap;
}

.flex--row {
  display: flex;
  gap: var(--space-s);
  flex-wrap: wrap;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--left {
  align-items: flex-start;
}

.flex--right {
  align-items: flex-end;
}

.text--right {
  text-align: right;
}

.flex--reverse {
  flex-direction: column-reverse;
}

.center {
  justify-content: center;
}

.gap-l {
  gap: var(--space-l);
}

.gap-xl {
  gap: var(--space-xl);
}

.section {
  padding-block: var(--space-2xl);
}

.button--light {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--slate-50);
  font-size: var(--step-0);
  border-radius: 1em;
  color: var(--slate-800) !important;
  padding: 0.5em 1em;
}

.button--dark {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--slate-800);
  font-size: var(--step-0);
  border-radius: 1em;
  color: var(--slate-50) !important;
  padding: 0.5em 1em;
}

.ratio--1-1 {
  aspect-ratio: 16/9;
}

.border--curve {
  border-radius: 1em;
  overflow: hidden;
}

.border--gray {
  border: 0;
}

.bg--light {
  background-color: var(--slate-100);
}

.highlight {
  background-color: hsla(46, 97.6%, 50%, 0.6);
  color: var(--slate-800);
  padding: 2px;
  position: relative;
}

.underline {
  text-decoration: underline var(--slate-400);
  text-underline-offset: 4px;
  -webkit-text-decoration: underline var(--slate-400);
}

.bold {
  font-weight: 700;
}

.text--primary {
  color: var(--slate-800);
}

.width--full {
  width: 100%;
}

/* large device break point */
@media screen and (min-width: 1150px) {
  .flex {
    flex-wrap: nowrap;
  }
  .flex--row {
    flex-wrap: nowrap;
  }
  .ratio--1-1 {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .ratio--1-1--right {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  .flex--reverse {
    flex-direction: row;
  }
  .section {
    padding-block: var(--space-2xl);
    display: grid;
    place-items: center;
  }
  .border--gray {
    border: 5px solid var(--slate-100);
  }
  .width--l {
    width: 60rem;
  }
}
/* --------------- HEADER STYLES --------------- */
.header {
  width: 100%;
  background-color: var(--slate-50);
}

.logo {
  width: 100px;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle {
  width: 36px;
  height: 36px;
  background-color: var(--slate-800);
  color: var(--slate-50);
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

/* nav for mobile */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    padding-block: 5rem;
    background-color: hsla(0, 0%, 0%, 0.8);
    width: 100%;
    text-align: center;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: top 0.4s;
    z-index: 999;
  }
}
.nav__close {
  color: var(--slate-50);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.nav__link {
  position: relative;
  color: var(--slate-50);
  font-size: var(--step-1);
  font-weight: 400;
  transition: opacity 0.3s;
  opacity: 0.6;
}

.nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--slate-50);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.nav__link:hover {
  opacity: 1;
}

.nav__link:hover::after {
  width: 25%;
}

.nav__close {
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

/* show menu */
.show-menu {
  top: 0;
}

/* active link */
.active-link::after {
  content: "";
  width: 25%;
  height: 2px;
  background-color: var(--slate-50);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
}

/* large device break point */
@media screen and (min-width: 1150px) {
  .header {
    width: 100%;
    background-color: var(--slate-50);
    display: grid;
    place-items: center;
  }
  .logo {
    width: 150px;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
    width: 100%;
    padding-inline: var(--space-s-l);
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    align-items: center;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__link {
    color: var(--slate-800);
    font-size: var(--step-0);
    display: block;
  }
  .nav__link::after {
    background-color: var(--slate-800);
  }
  .nav__link[aria-current=page] {
    opacity: 1;
  }
  .nav__link[aria-current=page]::after {
    content: "";
    width: 25%;
    height: 2px;
    background-color: var(--slate-800);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
  }
  .contact {
    background-color: var(--slate-800);
    padding: 0.25em;
    margin-left: 4rem;
    font-size: var(--step-0);
    border-radius: 1em;
  }
  .contact > a {
    color: var(--slate-50) !important;
    padding: 0.25em 1em;
  }
  .contact > a:hover::after {
    width: 0 !important;
  }
}
/* --------------- FOOTER STYLES --------------- */
.footer {
  background-color: var(--slate-800);
  color: var(--slate-50);
  width: 100%;
}

.footer--top {
  padding-block: var(--space-xl);
}

.footer--bottom {
  padding-block-end: var(--space-s);
}

.footer--left,
.footer--right {
  width: 100%;
}

.footer--right {
  text-align: left;
  align-items: flex-start;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.footer__nav__item {
  color: var(--slate-50);
}

/* large device break point */
@media screen and (min-width: 1150px) {
  .footer--left,
  .footer--right {
    width: 50%;
  }
  .footer--right {
    text-align: right;
    align-items: flex-end;
  }
}
/* --------------- MAIN --------------- */
/* ------- intro ------- */
.intro {
  height: 70vh;
  position: relative;
  display: grid;
  place-items: center start;
}

.intro::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
}

.intro::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.4;
  background-image: url(/images/Myoko\ -\ Akakura\ Onsen.jpg);
  background-size: cover;
  background-position: top center;
}

/* ------- myoko intro ------- */
.property--left {
  grid-template-columns: 1fr;
  grid-column-gap: var(--space-s);
}

/* large device break point */
@media screen and (min-width: 1150px) {
  .intro__inner__wrapper {
    max-width: 45rem;
  }
  .property--right {
    max-width: 50%;
  }
  .property--left {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: var(--space-s);
  }
  .property__img-1 {
    grid-area: 1/1/3/3;
  }
  .property__img-2 {
    grid-area: 3/1/5/3;
  }
  .property__img-3 {
    grid-area: 2/2/4/4;
  }
}
/* ------- Maintenance Page ------- */
.list {
  list-style-type: decimal;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
  text-indent: -23px;
  margin-left: 23px;
  margin-bottom: var(--space-s);
  line-height: 1.4em;
}

.mt__left {
  width: 100%;
}

.mt__right {
  width: 100%;
}

.img--full {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}

/* large device break point */
@media screen and (min-width: 1150px) {
  .img--full {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mt__left {
    width: 60%;
  }
  .mt__right {
    width: 40%;
  }
  .height--full {
    height: 100%;
  }
  .box {
    width: 60%;
  }
  .section-blog {
    width: 80rem;
  }
}
/* ------- Property Page ------- */
.box {
  padding: var(--space-s);
  border: 1px solid var(--slate-800);
  margin-block: var(--space-m);
  background-color: var(--slate-100);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.text--s {
  font-size: var(--step--1);
}

.column--2 {
  -moz-columns: 300px 2;
       columns: 300px 2;
}

/* ------- Blog Page ------- */
.section-blog {
  padding-block: var(--space-2xl);
  padding-inline: var(--space-s-m);
  justify-self: center;
}
.section-blog h2 {
  text-align: center;
}

.blog__grid {
  display: grid;
  gap: var(--space-m);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.margin-inline--s {
  margin-inline: var(--space-m);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  border-radius: 0.25em;
  overflow: hidden;
  border: 1px solid var(--slate-200);
}

.card__img-wrapper {
  order: -1;
  width: 100%;
}
.card__img-wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}

.card__text-wrapper {
  padding-inline: var(--space-2xs);
}
.card__text-wrapper a {
  color: var(--slate-800);
}
.card__text-wrapper a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card__text {
  font-size: var(--step--1);
  margin-top: var(--space-xs);
}

.card__footer {
  padding: var(--space-2xs);
  margin-top: auto;
}
.card__footer p {
  font-size: var(--step--1);
}

/* ------- Blog Article Page ------- */
.text-box {
  padding: var(--space-s);
  border: 1px solid var(--slate-800);
  background-color: var(--slate-100);
}

.blog-ol {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.highlight-box {
  background-color: var(--slate-100);
  margin-block: 0.5em;
  border: 1px solid var(--slate-200);
  padding: 0.5em;
}

.blog-header {
  font-size: var(--step-3);
}

/* large device break point */
@media screen and (min-width: 1150px) {
  .blog-ol {
    list-style-type: decimal;
  }
}
/* ------- TABLE ------- */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
  /* Centers the table on the page */
}

th,
td {
  border: 1px solid var(--slate-200);
  text-align: left;
  padding: var(--space-xs);
}

/* ------- Gallery Grid ------- */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.bot-pad {
  margin-bottom: 2rem;
}/*# sourceMappingURL=style.css.map */